.wrapper {
   button {
      width: 100px;
      height: 30px;
      font-family: 'intro';
      font-size: 12px;
      background: none;
      border: 1px solid whitesmoke;
      color: whitesmoke;
      transition: 0.2s all ease-in;
      &:hover {
         background: whitesmoke;
         color: #222222;
         cursor: pointer;
         transition: 0.4s all ease-in-out;
      }
   }
}

:global(.ant-modal-root .ant-modal-mask) {
   // background-color: var(--random-bg-color) !important;
   background-color: rgba(0, 0, 0, 0.151) !important;
   backdrop-filter: blur(3px);
}
:global(.ant-modal) {
   margin-top: 160px;
}
.modal {
   :global(.ant-modal-content) {
      background: none !important;
      box-shadow: none !important;
      padding: 0;
      z-index: 150;
   }
}
