.wrapper {
   display: flex;
   flex-direction: row;
   width: 100%;
   padding: 5px 15px;
   gap: 30px;
   opacity: 0.9;
   margin-bottom: 10px;
   border-radius: 5px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   justify-content: space-between;
   border-top: 1px solid whitesmoke;
   border-right: 1px solid whitesmoke;
   align-items: center;
   cursor: move;
   h3 {
      color: white;
   }

   li {
      display: flex;
   }
   svg {
      cursor: pointer;
      width: 18px;
      height: 18px;
      &:hover {
         color: rgb(255, 255, 255);
         cursor: pointer;
      }
   }
}
