.wrapper {
   position: absolute;
   cursor: move;
   min-width: 225px;
   padding: 10px 15px;
   border-radius: 5px;
   border-top: 2px solid rgb(255, 255, 255);
   border-right: 1px solid rgb(255, 255, 255);
   -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
   box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e0f4, 0 0 25px #03e9f4, 0 0 100px #03e0f4;
   .active {
      text-decoration: line-through;
      text-decoration-color: rgba(255, 0, 0, 0.76);
      text-decoration-thickness: 2px;
      opacity: 0.7;
      
   }
   .todo {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
      .editInputBlock {
         display: flex;
         input {
            border: 0;
            font-size: 12px;
            border-bottom: 1px solid whitesmoke;
            background: 0;
            color: white;
            outline: none;
            font-family: 'intro';
            
         }
      }
      .right {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         gap: 5px;
         .checkbox {
            opacity: 1;
            cursor: pointer;
         }
      }
      svg {
         cursor: default;
         width: 20px;
         height: 20px;
         background: 0;
         border: 0;
         &:hover {
            color: rgb(255, 255, 255);
            cursor: pointer;
         }
      }
   }
   h3 {
      font-family: 'sfns';
      font-size: 22px;
      padding: 0;
      margin: 0;
      color: white;
   }
}
