.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   background-color: #222222;
.favorites {
   transition: 0.2s all ease-out;
}
}
